RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]

# Custom error documents
ErrorDocument 404 /Library/error.php
ErrorDocument 500 /Library/error.php
